body {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-size: 1440px;
    background-color: hsl(1, 10%, 95%);
    margin: 0;
    padding: 0%;
    line-height: 1.5;    
}


h1 {
    font-size: 26px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pricetab {
    padding: 150px;  
    width: 50%;
    display: block;    
    margin: auto;   
}

.join,
.subscribe, 
.why-us {
    margin: -20px 0px;
}

.join {
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;        
}

#yellow-text {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 17px;
    margin-bottom: -10px;
}

.join p {
    color: hsl(218, 22%, 75%);
    margin-bottom: 30px;
}

.subscribe {
    background-color: hsl(179, 62%, 43%);
    color:hsl(204, 43%, 93%);        
    padding: 30px; 
}

#dollar {
    font-size: 30px;
    font-weight: 700;
}
#permonth {
    color: hsl(179, 50%, 60%);
    position: relative;
    bottom: 5px;
    padding-left: 8px;      
}

button {
    color: white;
    background-color: hsl(71, 73%, 54%);
    padding: 15px 90px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    margin: 30px 30px 30px 0;                  
}

button:hover {
    background-color: hsl(71, 80%, 54%);
}

.why-us {
    background-color: hsl(179, 50%, 60%);
    color:hsl(204, 43%, 91%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    padding: 30px;    
}

footer {
    text-align: center;    
}

footer a {
    color:rgba(112, 112, 148, 0.89);
}

footer a:hover {
    color:rgba(81, 81, 107, 0.89);
}
